<table class="table table-hover">
  <tr>
    <td width="70px">
      <a href="{{ url_for('main.user', username=post.author.username) }}"
        ><img src="{{ post.author.avatar(36) }}" alt=""
      /></a>
    </td>
    <td>
      {% set user_link %}
      <span class="user_popup">
        <a href="{{ url_for('main.user', username=post.author.username) }}">
          {{ post.author.username }}
        </a>
      </span>
      {% endset %} 
      {{ user_link }} said {{ moment(post.timestamp).fromNow() }}:
      <br />{{ post.body }}
    </td>
  </tr>
</table>
