{% extends "base.html" %} {% block app_content %}
<table>
  <tr valign="top">
    <td><img src="{{ user.avatar(128) }}" /></td>
    <td>
      <h1>User: {{ user.username }}</h1>
      {% if user.about_me %}
      <p>{{ user.about_me }}</p>
      {% endif %} {% if user.last_seen %}
      <p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>
      {% endif %}
      <p>
        {{ user.followers.count() }} followers, {{ user.followed.count() }}
        following.
      </p>
      {% if user == current_user %}
      <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
      {% elif not current_user.is_following(user) %}
      <p>
        <a href="{{ url_for('main.follow', username=user.username) }}"
          >Follow</a
        >
      </p>
      {% else %}
      <p>
        <a href="{{ url_for('main.unfollow', username=user.username) }}"
          >Unfollow</a
        >
      </p>
      {% endif %} {% if user != current_user %}
      <p>
        <a href="{{ url_for('main.send_message', recipient=user.username) }}"
          >Send Private Message</a
        >
      </p>
      {% endif %}
    </td>
  </tr>
</table>

<hr />
{% for post in posts %} {% include '_post.html' %} {% endfor %}
<nav aria-label="...">
  <ul class="pager">
    <li class="previous{% if not prev_url %} disabled{% endif %}">
      <a href="{{ prev_url or '#' }}">
        <span aria-hidden="true">&larr;</span>Newer Posts
      </a>
    </li>
    <li class="next{% if not next_url %} disabled{% endif %}">
      <a href="{{ next_url or '#' }}">
        Older Posts <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}
